body{
    background-color: rgb(0, 228, 228);
}
.principal{
    background-color: rgba(142, 204, 255, 0.744);
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}
   
.azul {
    background-color: #2660e7;
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    display: inline-block;
 }
.rosa {
    background-color: #f782c2;
    width: 102%;
    padding: 20px;
    margin: 5px 0;
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
}
 

 .verde {
    background-color: #40ef6c;
    width: 102%;
    padding: 20px;
    margin: 5px 0;
    display: inline-block;
    vertical-align: top;
    flex-direction:column ;
 }


 
    